*{
    padding: 0;
    margin: 0;
}
:root{
    --bg-color:blue;
    --fg-color:whitesmoke;
    --accent-color:orangered;
    --black:black;
}
body{
    background-color: var(--fg-color);
    color: var(--bg-color);
    width: 98%;
    margin: 2% auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    display: flex;
    border-radius: 6px;
    top: 0;
    z-index: 100;
    position: sticky;
    background-color: var(--fg-color);
    box-shadow: 4px 4px hsla(0, 0%, 0%, 0.144);
    align-items: center;
    justify-content: space-around;
}
header img{
    width: 30px;
    height: 30px;
    border-radius: 6px;
}
header a:nth-of-type(1){
    background:none;
}
.container{
    display: flex;
    width: 98%;
    justify-content: space-around;
    box-shadow: 5px 5px hsla(0, 0%, 0%, 0.144);
    border-radius: 12px;
    padding: 10px;
    flex-direction: column;
}
.container .intro{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: 3%;
}
.intro p{
    color: black;
}
 .intro span{
    width: 120px;
    height: 4px;
    border-radius: 6px;
    margin-bottom: 2%;
    background-color: var(--accent-color);
}
form{
    width: 50%;
}
form input, button, form select,
form textarea{
    

    width: 100%;
    padding: 7px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid var(--bg-color);
    color: var(--bg-color);
    background-color: var(--fg-color);
}
form::-webkit-file-upload-button{
    background-color: var(--accent-color);
}
form input:focus{
    border: 2px solid var(--accent-color);
}
form button{
    width: 100%;
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-weight: 600;
    margin-left: 4px;
}


.danger{
    border-radius: 6px;
    color: rgba(255, 0, 0, 0.664);
    text-align: center;
}
.success{
    border-radius: 6px;
    text-align: center;
    color: rgba(18, 88, 0, 0.664);
}
form p{
    text-align: center;
}
.btm{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.btm button{
    width: auto;
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
}
.btm  a{
    color: black;
    text-decoration: none;
}
.btm  a:nth-of-type(2), header a{
    color: var(--fg-color);
    background-color: var(--accent-color);
    text-decoration: none;
    padding: 7px;
    border-radius: 6px;
}
.btm  a:hover{
    color: var(--accent-color);
    transition: 1s;
}
 .accts{
    display: flex;
    width: 100%;
    margin-top: 3%;
    gap: 10px;
    justify-content: flex-end;

}
.accts img{
    width: 35px;
    height: 35px;
}
footer{
    text-align: center;
}
span{
    display: flex;
    justify-content: space-around;
}
span a{
    text-decoration: none;
    color: var(--accent-color);
    x: var(--accent-color);
}
.personal{
    margin-bottom: 3rem;
}
.business h4,
.personal h4{
    color: var(--accent-color);

}

.business p{
    color: var(--black);
    margin-bottom: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#vendor{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 40px);
}
#vendor main{
    width: 100%;
}
#vendor .messages{
    width: 100%;
    position: sticky;
    background-color: var(--fg-color);
    bottom: 0;
    z-index: 1000;
    font-weight: 800;
    font-size: 1.2rem;
}
@media screen and (max-width:768px) {
    .container{
        width: 95%;
    }
    form input{
        padding: 2%;
    }
    form{
        width: 90%;
    }
    
}